<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fungame.idea.sparks.fungame">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="fungame.idea.sparks.fungame.SplashScreen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="fungame.idea.sparks.fungame.MainActivity" />
        <activity
            android:name="fungame.idea.sparks.fungame.Second_Page"
            android:screenOrientation="landscape" />
        <activity
            android:name="fungame.idea.sparks.fungame.Setting_Activity"
            android:screenOrientation="landscape" />

        <service android:name="fungame.idea.sparks.fungame.Sound" />

        <activity
            android:name="fungame.idea.sparks.fungame.Registration_Login.Login"
            android:screenOrientation="landscape" />
        <activity
            android:name="fungame.idea.sparks.fungame.Game_Hajar"
            android:screenOrientation="landscape" />
        <activity
            android:name="fungame.idea.sparks.fungame.Manno_Game"
            android:screenOrientation="landscape" />
    </application>

</manifest>